<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Manicotti.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="Manicotti.Properties.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="Manicotti.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Manicotti.Properties.Settings>
            <setting name="url_window" serializeAs="String">
                <value />
            </setting>
            <setting name="url_door" serializeAs="String">
                <value />
            </setting>
            <setting name="url_column" serializeAs="String">
                <value />
            </setting>
            <setting name="url_columnFamily" serializeAs="String">
                <value />
            </setting>
            <setting name="floorHeight" serializeAs="String">
                <value>4000</value>
            </setting>
            <setting name="sillHeight" serializeAs="String">
                <value>1200</value>
            </setting>
            <setting name="wallThickness" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="jointRadius" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="minLength" serializeAs="String">
                <value>0.001</value>
            </setting>
            <setting name="layerWall" serializeAs="String">
                <value>WALL</value>
            </setting>
            <setting name="layerColumn" serializeAs="String">
                <value>COLUMN</value>
            </setting>
            <setting name="layerDoor" serializeAs="String">
                <value>DOOR</value>
            </setting>
            <setting name="layerWindow" serializeAs="String">
                <value>WINDOW</value>
            </setting>
            <setting name="layerSpace" serializeAs="String">
                <value>SPACE</value>
            </setting>
            <setting name="layerFrame" serializeAs="String">
                <value>FRAME</value>
            </setting>
            <setting name="name_window" serializeAs="String">
                <value />
            </setting>
            <setting name="name_door" serializeAs="String">
                <value />
            </setting>
            <setting name="name_column" serializeAs="String">
                <value />
            </setting>
        </Manicotti.Properties.Settings>
        <Manicotti.Properties.Settings1>
            <setting name="url_window" serializeAs="String">
                <value>C:\ProgramData\Autodesk\RVT 2020\Libraries\US Metric\Doors\M_Window-Fixed.rfa</value>
            </setting>
            <setting name="url_door" serializeAs="String">
                <value>C:\ProgramData\Autodesk\RVT 2020\Libraries\US Metric\Doors\M_Door-Single-Panel.rfa</value>
            </setting>
            <setting name="url_column" serializeAs="String">
                <value>C:\ProgramData\Autodesk\RVT 2020\Libraries\US Metric\Columns\M_Rectangular Column.rfa</value>
            </setting>
            <setting name="url_columnFamily" serializeAs="String">
                <value>C:\ProgramData\Autodesk\RVT 2020\Family Templates\English\Metric Column.rft</value>
            </setting>
            <setting name="url_install" serializeAs="String">
                <value>C:\ProgramData\Autodesk\RVT 2020</value>
            </setting>
            <setting name="floorHeight" serializeAs="String">
                <value>4000</value>
            </setting>
            <setting name="sillHeight" serializeAs="String">
                <value>1200</value>
            </setting>
            <setting name="wallThickness" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value/>
            </setting>
        </Manicotti.Properties.Settings1>
        <Manicotti.Settings1>
            <setting name="url_window" serializeAs="String">
                <value>C:\ProgramData\Autodesk\RVT 2020\Libraries\US Metric\Doors\M_Window-Fixed.rfa</value>
            </setting>
            <setting name="url_door" serializeAs="String">
                <value>C:\ProgramData\Autodesk\RVT 2020\Libraries\US Metric\Doors\M_Door-Single-Panel.rfa</value>
            </setting>
            <setting name="url_column" serializeAs="String">
                <value>C:\ProgramData\Autodesk\RVT 2020\Libraries\US Metric\Columns\M_Rectangular Column.rfa</value>
            </setting>
            <setting name="url_columnFamily" serializeAs="String">
                <value>C:\ProgramData\Autodesk\RVT 2020\Family Templates\English\Metric Column.rft</value>
            </setting>
            <setting name="url_setup" serializeAs="String">
                <value>C:\ProgramData\Autodesk\RVT 2020</value>
            </setting>
            <setting name="floorHeight" serializeAs="String">
                <value>4000</value>
            </setting>
            <setting name="sillHeight" serializeAs="String">
                <value>1200</value>
            </setting>
            <setting name="wallThickness" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value/>
            </setting>
        </Manicotti.Settings1>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/></startup></configuration>
